.gitignore
/throw-awy
/start-here
/terraform
/terra-ecs-2
/terraform-eks
*.pem
/test
/example
*.zip
/aline-account-microservice
/aline-admin-portal
/aline-bank-microservice
/aline-gateway
/aline-landing-portal
/aline-transaction-microservice
/aline-underwriter-microservice
/aline-user-microservice
/member-dashboard
*.tfstate
terraform.tfstate